# Node modules
node_modules/
app/frontend/node_modules/

# Distribution / build
/dist/
*.dmg
*.exe
*.zip
*.app


# IDEs and editors
/.idea

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
npm-debug.log

# System Files
.DS_Store

